/* PHASE 4: Footer */

footer {
  width: 900px;
  border-radius: 0px 0px 5px 5px;
  border-color: #ccc;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  margin: auto;
  background-color: #fff;
  font-size: 14px;
  color: #aaa;
  overflow: hidden;
}

footer span {
  float: left;
}

.footer-links {
  float: right;
}

.footer-links li {
  float: left;
}

footer > * {
  padding: 20px;
}

.footer-links li {
  padding-left: 20px;
}

.footer-links a:hover {
  color: #000;
}
