<label for="title"> Title </label>
<input type="text" id="title" name="feed[title]" value="<%= feed.escape('title') %>">
<label for="url"> URL </label>
<input type="text" id="url" name="feed[url]" value="<%= feed.escape('url') %>">


<input type="submit" id="createFeed" value="Create Feed">
